/* Importing custom font from Google */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* Creating CSS variables */
:root {
  --font-normal: 400;
  --font-heavy: 700;
  --light: #ff3b3f;
}


/* Creating container to set standard width for viewing */
.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

/* Adding banner image from unsplash: https://unsplash.com/photos/bgFB2WJSvLA */
.banner {
    background-image: url(../images/backgroundbanner.avif);
    height: 20em;
    background-size: cover;
    margin-bottom: 3em;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #efefef;
    width: 100%;
    height: auto;
  }

/* Forcing images to fit entirely within container  */
img {
    width: 100%;
    height: 100%;
  }

header {
    font-family: 'Oswald', sans-serif;
    color: var(--light);
    padding: 0.8em 0;
    width: 100%;
  }

 /* Making navigation bar stretch and having all children spaced evenly */ 
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
  }

nav ul {
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

h1 {
    width: 50%;
    text-align: center;
    font-size: 180%;
    padding: 0.3em 1em;
  }

/* Removing bullet points */
.portfolio-links {
  list-style-type: none;
  padding: 0.5em 1em;
  font-weight: 600;
}

/* Hover style for links */
.portfolio-links:hover {
    padding: 0.5em 1em;
    border-radius: 30px;
    background-color: var(--light);
    color: var(--dark);
    box-shadow: 0 2px 2px white;
}

/* Navigation link colors */
nav a {
    color: var(--light);
}

main {
    width: 100%;
}

/* Section header font */
main h2 {
    width: 200px;
    text-align: right;
    font-size: 175%;
    font-family: 'Oswald', sans-serif;
    padding-right: 1em;
}

main p {
    font-size: 24px;
}

/* Applying flex for all the sections below to dynamically adjust to container */
#about-me {
    height: auto;
    display: flex;
    margin-bottom: 3em;
}

.about-me-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    line-height: 1.8;
}

#first-paragraph {
    display: flex;
  }

#first-paragraph p {
    align-self: flex-end;
}

/* Picture styling */
#avatar {
    margin-right: 1em;
    width: 180px;
    height: 200px;
    z-index: 10;
    background-color: var(--light);
    padding: 0.5em;
    border: 0.5em solid var(--dark);
    margin-bottom: 1em;
}

.about-me-content p {
    margin-bottom: 1em;
    text-align: left;
    padding: 0 2em;
}

#work {
    display: flex;
    margin-bottom: 3em;
}

/* Making project tiles adjust dynamically */
.tiles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects {
    width: 45%;
    height: auto;
    margin: 1em;
    position: relative;
}
/* Adding hover effect over links */
.projects:hover {
    box-shadow: 0 3px 8px var(--light);
}

.projects:hover .project-title {
    color: white;
}

.project-title {
    position: absolute;
    background-color: rgb(157, 195, 228);
    left: 0;
    bottom: 2em;
    padding: 0.8em 1em;
    line-height: 1.2;
    z-index: 2;
}

h4 {
    font-size: 120%;
}

#horiseon {
    flex: 1 1 100%;
}

/* Setting scren adjustments mobile devices */
@media screen and (max-width: 768px) {
    body {
      text-align: center;
    }
    h1 {
      width: 90%;
      padding: 0 1em;
    }
    #first-paragraph {
      flex-direction: column;
      justify-content: center;
    }
    #avatar {
      align-self: center;
    }

    nav, nav ul {
      flex-direction: column;
      line-height: 2;
      justify-content: center;
      padding-right: 0;
    }

    main h2 {
      text-align: center;
      border: unset;
      align-self: center;
    }

    .projects {
        flex: 1 1 100%;
    }
    .project-title {
        bottom: 0;
        left: 0;
        padding: 0.5em 0.8em;
    }
    
    #contact-me ul {
        flex-direction: column;
    }
}